<%= render :partial => 'inline_form' %>

<div class="row">

  <div class="col-xs-12">
    <h5>Today</h5>

    <div class="table-responsive">
      <table class="table table-hover entries-table">
        <tbody id="entries-rows">
          <%= render "entries" %>
        </tbody>
      </table>
    </div>
  </div>
</div>