<div class="page-header">
  <h1>Streaks</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Mon</th>
      <th>Tue</th>
      <th>Wed</th>
      <th>Thu</th>
      <th>Fri</th>
      <th>Sat</th>
      <th>Sun</th>
    </tr>
  </thead>
  <% @streak_class = 'streak-icon' %>
  <tbody>
    <tr>
    	<% ((Date.today-21).beginning_of_week() .. (Date.today-21).end_of_week()).each do |date| %>
      	<td>
      		<% if any_entries_for_day?(date) %>
      			<span class="glyphicon glyphicon-ok-circle <%= class_day_in_current_streak?(date) %>" style="font-size: 200%;"></span>
      		<% else %>
      			&nbsp;
      		<% end %>
      	</td>
      <% end %>
    </tr>
    <tr>
    	<% ((Date.today-14).beginning_of_week() .. (Date.today-14).end_of_week()).each do |date| %>
      	<td>
      		<% if any_entries_for_day?(date) %>
      			<span class="glyphicon glyphicon-ok-circle <%= class_day_in_current_streak?(date) %>" style="font-size: 200%;"></span>
      		<% else %>
      			&nbsp;
      		<% end %>
      	</td>
      <% end %>
    </tr>
    <tr>
    	<% ((Date.today-7).beginning_of_week() .. (Date.today-7).end_of_week()).each do |date| %>
      	<td>
      		<% if any_entries_for_day?(date) %>
      			<span class="glyphicon glyphicon-ok-circle <%= class_day_in_current_streak?(date) %>" style="font-size: 200%;"></span>
      		<% else %>
      			&nbsp;
      		<% end %>
      	</td>
      <% end %>
    </tr>
    <tr>
    	<% (Date.today.beginning_of_week() .. Date.today).each do |date| %>
      	<td>
      		<% if any_entries_for_day?(date) %>
      			<span class="glyphicon glyphicon-ok-circle <%= class_day_in_current_streak?(date) %>" style="font-size: 200%;"></span>
      		<% else %>
      			&nbsp;
      		<% end %>
      	</td>
      <% end %>
    	<% (Date.today + 1 .. Date.today.end_of_week()).each do |date| %>
      	<td>
      	</td>
      <% end %>
    </tr>
  </tbody>
</table>