<div class="page-header">
  <h1 id="title" data-toggle="popover" data-trigger="hover" data-placement="auto" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Streaks</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Mon</th>
      <th>Tue</th>
      <th>Wed</th>
      <th>Thu</th>
      <th>Fri</th>
      <th>Sat</th>
      <th>Sun</th>
    </tr>
  </thead>

  <%= render :partial => 'streak' %>
</table>