// import the CSS framework
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }

// time entries
.entry-save {
  width: 100%;
}

.table.entries-table > tbody > tr > td {
  padding-left: 29px;
}

.new-entry {
  margin-bottom: 1em;
}

.dashboard {
  text-align: center;
}

#clocking img {
  float: left;
  margin-top: 5px;
}

#runner {
  float: left;
  margin-left: .5em;
  margin-top: 3px;
  font-size: 150%;
  font-weight: bold;
}

// set a max-width for horizontal fluid layout and make it centered 
.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 750px;
}